<article id="page-cards" class="page-section">

    <section class="layout-cards container">

        <div class="row justify-content-center">

            <div class="col-8 col-sm-12 col-lg-10">

                <div class="card-deck">

                    <section class="card my-3">
                        <img class="layout-image card-img-top img-fluid" src="images/card01.svg" alt="Photo Sample">
                        <div class="card-body">
                            <h4 class="layout-title card-title">Boo!</h4>
                            <p class="layout-text card-text">
                                Hire Spook, and her monster pals, to scare the pants off your family and friends any time of the year. Though
                                she has a heart of gold and would never hurt a living soul, she's full of mischief and loves to haunt.
                                After all, who doesn't love a good adrenaline rush?
                            </p>
                        </div>
                    </section>

                    <section class="card my-3">
                        <img class="layout-image card-img-top img-fluid" src="images/card02.svg" alt="Photo Sample">
                        <div class="card-body">
                            <h4 class="layout-title card-title">So sweet!</h4>
                            <p class="layout-text card-text">
                                Satisfy your sweet tooth with a decadent dessert from Topsy Turvy Cake Design. Their monster bakers will
                                enliven your taste buds with award-winning creations including Upside Down/Inside Out cake and Hornets'
                                Nest muffins.
                            </p>
                        </div>
                    </section>


                    <section class="card my-3">
                        <img class="layout-image card-img-top img-fluid" src="images/card03.svg" alt="Photo Sample">
                        <div class="card-body">
                            <h4 class="layout-title card-title">Simply magical!</h4>
                            <p class="layout-text card-text">
                                Bet you didn't know monsters are talented illusionists. They'll even conjure up a tantalizing 12-course meal
                                and wolf it down before your very eyes. And if you ask nicely, they'll happily share it with you. Just
                                don't expect it to be very filling.
                            </p>
                        </div>
                    </section>

                </div>

            </div>

        </div>

    </section>


</article>