<article id="page-floater" class="page-section">

    <section class="layout-floater container py-5">

        <div class="row align-items-center justify-content-center">

            <section class="layout-container col-8 col-md-4">
                <img class="layout-image" src="images/floater.svg" alt="Floater Image">
            </section>

            <section class="col-10 col-md-6 text-center text-md-left pl-md-5">
                <h2 class="layout-title">You've Got a Friend</h2>
                <p class="layout-text">
                    When you hang with monsters, you've got the best friends in the world. Feeling down? They'll make your spirits
                    soar. Stomach rumbling? They'll whip you up a satisfying snack. Crave adventure? They'll explore the world with
                    you. You're one lucky individual!
                </p>
            </section>

        </div>

    </section>

</article>