<header id="page-hero" class="site-header">

    <TopNavMenu></TopNavMenu>

    <section class="layout-hero d-flex align-items-center text-light text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 col-md-8 animated fadeInUp">
                    <h3 class="page-section-title">Blazor</h3>
                    <p class="page-section-text">
                        Build client web apps with C#
                    </p>
                </div>
            </div>
        </div>
    </section>

</header>