<article id="page-iconcolumns" class="page-section">

    <section class="layout-iconcolumns container py-5">

        <div class="row text-center">
            <section class="col-md-4 my-3">
                <img class="icon layout-icon" src="images/icon01.svg" alt="Icon 01">
                <h3 class="layout-title">Horns</h3>
                <p class="layout-text">
                    Horns on monsters likely originated as a means for self-defense. However, nowadays they're more commonly used for
                    such routine tasks as opening cans, digging in the garden,and flipping burgers on the grill.
                </p>
            </section>

            <section class="col-md-4 my-3">
                <img class="icon layout-icon" src="images/icon02.svg" alt="Icon 02">
                <h3 class="layout-title">Tentacles</h3>
                <p class="layout-text">
                    Monsters with tentacles can mop the floor, cook dinner, and type a winning proposal, all while sipping a steaming
                    hot latte. Their multitasking ability is a talent many aspire to, but most will never achieve.
                </p>
            </section>

            <section class="col-md-4 my-3">
                <img class="icon layout-icon" src="images/icon03.svg" alt="Icon 03">
                <h3 class="layout-title">Periscope Eyes</h3>
                <p class="layout-text">
                    Periscope-eyed monsters can watch a football game in the family room, while "keeping an eye" on what's simmering
                    on the stove. Many are also astute detectives who find satisfying work in law enforcement.
                </p>
            </section>

        </div>

    </section>

</article>