<article id="site-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img data-dismiss="modal" class="img-fluid" src="#" alt="Modal Photo">
        </div>
    </div>
</article>