<article id="page-nested" class="page-section">

    <div class="layout-nested container py-5">

        <div class="row justify-content-center">

            <section class="col-sm-10 col-md-5 col-lg-12 text-center text-lg-left">

                <div class="row align-items-center justify-content-center">
                    <section class="col-lg-3">
                        <img class="layout-image" src="images/nested01.svg" alt="Nested Image 01">
                    </section>

                    <section class="col-lg-9">
                        <h2 class="layout-title">Hatching a plan</h2>
                        <p class="layout-text">
                            You might not realize this, but monsters, by their very nature, are master planners. They plan their finances,
                            their diets, their exercise routines, their leisure time, and even their grocery lists. They also organize
                            some pretty memorable parties! Some scientists theorize that monsters had to be strong planners to compete
                            with dragons, fairies, and gnomes in the business and technology markets. Whatever the origin of their efficiency,
                            if you ever need a wedding planner, call a monster!
                        </p>
                    </section>
                </div>

            </section>

            <section class="col-sm-10 col-md-5 col-lg-12 text-center text-lg-left">
                <div class="row align-items-center justify-content-center">

                    <section class="col-lg-3">
                        <img class="layout-image" src="images/nested02.svg" alt="Nested Image 02">
                    </section>

                    <section class="col-lg-9">
                        <h2 class="layout-title">Emerging talent</h2>
                        <p class="layout-text">
                            Monsters are forces to reckon with in the burgeoning technology industry. They're masterminds in HTML, CSS,
                            PHP, and all those other cool acronyms, and they have a special fondness for building games and productivity
                            apps for Android and iOS devices. And not surprisingly, they love the freedom and creativity that Bootstrap
                            provides. In fact, they're often found hanging out in great responsive layouts, just like this one here.
                        </p>
                    </section>
                </div>

            </section>

        </div>

    </div>


</article>